h1{
    background-color:green;
}

h1::first-letter {
    Background-color:pink;
    border-radius:300px;
   font-family: "Holtwood One SC";
}

button{
    border-radius:3000px;
    background-color:green;
}

input{
    background-color:pink;
    border-radius:3000px;
    
}

p{
    font-size:50px;
    font-family: "Holtwood One SC";
}

.output{
    background-color:green;
}

div{
    font-size:40px;
    font-family: "Holtwood One SC";
}